[Unit]
Description=Raspi4 Motor Drive
Requires=pigpiod.service

[Service]
Type=Simple
ExecStart=/home/pi/Project/Ras4Robo/joypad3.py
WorkingDirectory=/home/pi/Project/Ras4Robo
Restart=on-failure

[Install]
WantedBy=default.target
